<h1>Edit team</h1>
<form action="/teams/{{teams._id}}/edit" method="POST">
  <input type="text" name="name" value="{{teams.name}}" />

  <select name="participants" multiple>
    {{#each participants}}
      <option value="{{_id}}">{{name}}</option>
    {{/each}}
  </select>
  <button type="submit"> Edit team</button>
</form>