<h2>New Team</h2>

<form action="/teams/create" method="POST">

  <label> Name:</label>
  <input type="text" name="name" />

  <label> Participants:</label>
  <select name="participants" multiple>
    {{#each participants}}
      <option value="{{_id}}">{{name}}</option>
    {{/each}}
  </select>

  <button type="submit">Add new participant</button>

</form>